<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_foreground"
        android:label="Ayam Expert"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:name=".MenuActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.BronchitisActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.CoryzaActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.GumboroActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.InfluenzaActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.NewCastleActivity">
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".penyakit.PullorumActivity">
        </activity>
    </application>

</manifest>